.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    display: none;
}
.slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: -3px;
    right: 0;
    z-index: 0;
}
.active {
    display: block;
}
.slide img {
    width: 100%;
}
.arrow-buttons {
    position: absolute;
    width: 98%;
    display: flex;
    margin:  0 auto;
    justify-content: space-between;
    z-index: 1;
}
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.content h1 {
    margin-top: 50px;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 63px;
    text-transform: uppercase;
    color: #ffffff;
}
.content h1 span {
    font-weight: 700;
    letter-spacing: 0.4px;
}
.content .buttons {
    display: flex;
    margin-top: 58px;
}
.content .buttons a {
    display: block;
    width: 226px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    box-sizing: border-box;
    padding: 13px 0;
    transition: 1s;
}
.content .buttons a:hover {
    background-color: #ffffff;
    color: #000000 !important;
}
.off-on {
    margin-top: 20px;
}
.off-on label {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
}
.off-on label input {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media (max-width: 1385px) {
    .logo img {
        width: 100%;
    }
    .content {
        width: 400px;
    }
    .content h1 {
        margin-top: 25px;
        font-size: 29px;
        letter-spacing: -1.3px;
        line-height: 35px;
    }
    .content .buttons {
        margin-top: 29px;
    }
    .content .buttons a {
        width: 160px;
        font-size: 16px;
    }
    .off-on label {
        font-size: 16px;
    }
    .off-on label input {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 991px) {
    .logo {
        display: none;
    }
}
@media (max-width: 576px) {
    .content {
        width: 350px;
    }
    .content h1 {
        margin-top: 25px;
        font-size: 22px;
        letter-spacing: -0.9px;
        line-height: 25px;
    }
    .content .buttons a {
        width: 140px;
        font-size: 14px;
    }
}
@media (max-width: 425px) {
    .content .buttons a {
        width: 120px;
        font-size: 12px;
    }
    .content .buttons {
        margin-top: 10px;
    }
    .off-on label {
        font-size: 12px;
    }
    .off-on label input {
        width: 15px;
        height: 15px;
    }
}
